* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-image: url("./img/backgroundGif.gif");
    background-size: 300px;
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.4);
}

h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 2rem;
    text-align: center;
}

img {
    height: 70%;
    margin: auto 0;
}

div {

}

.container {
    background-color: rgba(255, 255, 255, 0.6);
}

.guitarsContainer {
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
}

.row {
    overflow: auto;
    width: 100%;
    font-size: 1.6rem;
    height: 24vh;
    margin: 0 auto;
}

.header {
    font-weight: bold;
    height: 14vh;
    border: 2px black solid;
}

.item-detail {
    float: left;
    width: 8%;
    height: 100%;
    padding: 20px;
    text-align: center;
    border: 1px gray solid;
}

.column1 {
    width: 4%;
}

.column2 {
    width: 25%;
}

.column3 {
    width: 15%;
}

.column8 {
    width: 12%;
}