* {
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body {
    font-size: 62.5%;
    background-image: url("./img/34216.jpg");
    background-attachment: fixed;
    /*background-color: rgba(20, 20, 255, 1);*/
}

h1 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

p {
    font-size: 2rem;
    text-align: center;
}

img {
    height: 90%;
}

.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

.guitarsContainer {
    border: 1px sandybrown dashed;
    background-color: rgba(240, 240, 255, 0.8);
    width: 90%;
    margin: 0 auto;
}

.row {
    overflow: auto;
    width: 100%;
    font-size: 1.6rem;
    height: 24vh;
    margin: 0 auto;
}

.header {
    font-weight: bold;
    height: 14vh;
    border: 2px sandybrown dashed;
}

.item-detail {
    float: left;
    width: 9%;
    height: 100%;
    padding: 10px;
    text-align: center;
    border: 1px sandybrown dashed;
}

.column1 {
    width: 4%;
}

.column2 {
    width: 25%;
}

.item .column2{
    background-color: rgba(240, 240, 255, 0.8);
}

.column3 {
    width: 16%;
}

.column6 {
    width: 12%;
}

.column8 {
    width: 16%;
}